# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=6ab362f8e080f7a3ab75550a
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a3661715b2ac5cef3df9520
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a3661715b2ac5cef3df9520
